<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{72} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>com.mysql.jdbc.Driver</driverClass>
      <url>jdbc:mysql://localhost:3306/prodcons</url>
      <user>prodcons_logback</user>
      <password>logback</password>
    </connectionSource>
<!--     <insertHeaders>true</insertHeaders> -->
  </appender>

  
  <logger name="it.fabioformosa" level="debug"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  	<appender-ref ref="DB" />
  </root>
</configuration>