.validated-form input.ng-invalid.ng-dirty {
       background-color: #FA787E;
     }
   
.validated-form input.ng-valid.ng-dirty {
      background-color: #78FA89;
}

.inline{
	float: left;
}
.clearer{
	clear: both;
}

#fab_logo_img{
	height:41px;
}

#appTitle{
	text-transform: uppercase;
	color: white;
}

#panelTitle{
	color: #000;
}
#panelTitle:hover{ 
	color:#FCC158;
	text-decoration: none;
}

#appTitle:hover{ 
	color:white;
}

#headerBar > li > a{
	color: #FCC158;
}

.formError{
	font-size: 0.8em;
	color: red;
}

.fab-footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.footer-content{
	font-size: 10px;
	text-align: left;
	padding: 20px 5px 20px 5px;
	float: left;
	border-left: 1px solid #e5e5e5;
}

.footer-content p{
	margin: 0;
}

#logTable{
	font-size: 0.8em;
}

#logLoading{
	display: none !important;
}

div.smart-table-container{
	text-align: center;
	margin: auto;
}

table.smart-table{
	font-size: 10px;
	max-width: 800px;
	margin: auto;
}
table.smart-table th{
	font-size:12px;
}

table.smart-table td{
	max-width: 300px;
}

.smart-table-filter-form{
	font-size: 12px;
}


/*
body{
	font-family: "Roboto", Arial;
}

h1{
	text-transform: uppercase;
	color: #426DAB;
}

#headerTitleContainer{
	vertical-align: middle;
	padding-left: 2em;
}

#headerTitleContainer h1{
	padding: 0;
	margin: 0;
}
#headerTitleContainer h2{
	padding: 0;
	margin: 0;
}
*/