.inline{
	float: left;
}
.clearer{
	clear: both;
}

#fab_logo_img{
	height:41px;
}

#appTitle{
	text-transform: uppercase;
	color: white;
}

#headerBar > li > a{
	color: #cdbfe3;
}

.formError{
	font-size: 0.8em;
	color: red;
}

/*
body{
	font-family: "Roboto", Arial;
}

h1{
	text-transform: uppercase;
	color: #426DAB;
}

#headerTitleContainer{
	vertical-align: middle;
	padding-left: 2em;
}

#headerTitleContainer h1{
	padding: 0;
	margin: 0;
}
#headerTitleContainer h2{
	padding: 0;
	margin: 0;
}
*/