
body{
	font-family: "Roboto", Arial;
}

h1{
	text-transform: uppercase;
	color: #426DAB;
}

.clearer{
	clear: both;
}

.inline{
	float: left;
}

#headerTitleContainer{
	vertical-align: middle;
	padding-left: 2em;
}

#headerTitleContainer h1{
	padding: 0;
	margin: 0;
}
#headerTitleContainer h2{
	padding: 0;
	margin: 0;
}

#logo{
	width: 60px;
}